body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: orange;
    height : 100px;
}

#menubar {
    background-color: red;
    height : 330px;
    width: 100px;
    position: absolute;
    top : 100px;
    left: 0;
}

#menubar ul {
    display: blocK;
    margin: 0;
    padding: 0;
}
#menubar li {
    display: block;
    width : 100px;
    height : 100px;
    background-color: green;
    margin-bottom: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

#menubar li:hover {
    background-color: blue;
    transform: rotate(30deg);
}
